body {
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    justify-content: center;
    min-height: 100vh;
}

.container {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 4vh 3vw;
    max-height: 800px;
    max-width: 345px;
    overflow: hidden;
}

.info {
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
}

.perfume {
    font-size: .8125rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.title {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    margin: 1.25rem auto;
}

.description {
    font-size: .875rem;
    line-height: 1.75;
}

.price {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 1.75rem auto 1.25rem;
}

.new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.old-price {
    font-size: .8rem;
}

.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

button {
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    display: flex;
    font-weight: 700;
    gap: 10px;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

button:hover {
    background-color: hsl(158, 36%, 17%);
}

/* QUERY */
@media screen and (min-width: 720px) {
    .container {
        flex-direction: row;
        min-height: 100%;
        min-width: 600px;
    }
    .image {
        width: 50%;
    }
    .info {
        width: 50%;
    }
}